*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 200vh;
    background-image: url(error.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color:black;
    box-shadow: 3px 3px 3px black(0, 0, 0,);
}
nav ul{
    width: 100%;
    list-style:none;
}